# ============================================================
# DIGITRANS-CM — Variables d'environnement
# ⚠️  NE JAMAIS committer ce fichier sur GitHub !
# Ajoutez .env dans votre .gitignore
# ============================================================

# MySQL
MYSQL_ROOT_PASSWORD=RootPass2026!
MYSQL_DATABASE=crm_db
MYSQL_USER=crmuser
MYSQL_PASSWORD=CrmPass2026!

# Redis
REDIS_PASSWORD=RedisPass2026!

# JWT
JWT_SECRET=DigitransCrmJwtSecretKey2026VeryLongAndSecureKeyForHS512Algorithm!
JWT_EXPIRATION=86400000

# AWS (pour déploiement)
AWS_REGION=af-south-1
AWS_ACCOUNT_ID=VOTRE_ACCOUNT_ID_ICI
ECR_BACKEND_REPO=digitrans-crm-backend
ECR_FRONTEND_REPO=digitrans-crm-frontend
